/* CSS file */
@namespace buriti "http://github.com/brust/buriti";

buriti|SearchInput
{
	skin-class: ClassReference("buriti.skins.SearchInputSkin");
	icon-cancel: Embed("assets/images/cancel.png");
	icon-search: Embed("assets/images/search.png");
}

buriti|YoutubePlayer
{
	skinClass: ClassReference("buriti.skins.YoutubePlayerSkin");
	dropShadowVisible: true;	
}
